{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="account">
    <h1 class="account-name">{{ current_user.name }} {{ current_user.surname }} {% if current_user.patronymic != 'not_indicated'%} {{ current_user.patronymic }} {% endif %}</h1>
    <h2 class="account-email">Email: {{ current_user.email }}</h2>
    <h2 class="account-age">Age: {{ current_user.age }}</h2>
    <h2 class="account-position">Position: {{ current_user.position }}</h2>
    <h2 class="my-things">Мои товары: <a class="btn btn-outline-dark plus-button" href="/add_thing" role="button">+</a></h2>
    <div class="account-things">
        <div class="account-thing-cards">
            {% for thing in things %}
          <div class="auction-thing-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{thing.name}}</h5>
            <p class="card-text">{{thing.about}}</p>
            <p class="card-text">Цена: {{thing.price}}</p>
            <p class="card-text">Кол-во: {{thing.count}}</p>
            <a href="/edit_thing/{{thing.id}}" class="btn btn-primary">Редактировать</a>
            <a href="/delete_thing/{{thing.id}}" class="btn btn-secondary">Удалить</a>
          </div>
          </div>
            {% endfor %}

          </div>
    </div>
    <h2 class="my-lots">Мои лоты: <a class="btn btn-outline-dark plus-button" href="/add_lot" role="button">+</a></h2>

    {% for lot in lots %}
    <div class="account_lot">
        <h3 class="lot-name">{{ lot.name }} </h3>
        <p class="lot-about">{{ lot.about }}</p>

        <div class="account-thing-cards">
            {% for thing in lot.things %}
          <div class="auction-thing-card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">{{thing.name}}</h5>
            <p class="card-text">{{thing.about}}</p>
            <p class="card-text">Цена: {{thing.price}}</p>
            <p class="card-text">Кол-во: {{thing.count}}</p>
          </div>
          </div>
            {% endfor %}
    </div>
        <h5 class="lot-price">Цена: {{lot.price}}</h5>
        <a href="/delete_lot/{{lot.id}}" class="btn btn-secondary">Удалить</a>
        <a href="/edit_lot/{{lot.id}}" class="btn btn-secondary">Редактировать</a>
    </div>
    {% endfor %}



{% else %}
    <h1 class="not-login">Вы не вошли в аккаунт</h1>
{% endif %}
    </div>
{% endblock %}
