<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ style }}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <title>{{title}}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.jpg')}}" type="image/x-icon"/>
</head>
  <body>
    <!-- Begin page content -->
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Auctions</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse header-content" id="navbarSupportedContent">
      <div class="header-links">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/account">Аккаунт</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Мои товары</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Мои покупки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Заявки</a>
        </li>

      </ul>
      </div>
      <div class="header-search">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        </div>
      {% if current_user.is_authenticated %}
          <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname}}</a>
      {% else %}
      <div class="header-log-in-out">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 log-in-out">
        <li class="nav-item">
          <a class="btn btn-success button-log-in" type="submit" href="/login">Войти</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" type="submit" href="/register">Зарегистрироваться</a>
        </li>
      </ul>
      </div>
      {% endif %}
    </div>
  </div>
  </nav>
    </header>


    <main role="main" class="container">
    {% block content %}{% endblock %}

    </main>
  </body>
</html>