.container {
    max-width: 1920px;
}

.header {
    margin-bottom: 20px;
}
.header-content {
    display: flex;
    justify-content: space-between;
}

.button-log-in {
    margin-right: 10px;
}

.auction-banners {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.auction-cards {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 16px;
  margin-bottom: 80px;
}

.card{
  position: relative;
  grid-column: span 1;
  margin: auto;
}

.auction {
  max-width: 1080px;
  margin: auto;
}

.auction-title {
  text-align: center;
}

.auction-things-title {
  margin-left: 20px;
  margin-bottom: 16px;
}

.auction-thing-cards, .account-thing-cards {
  max-height: 720px;
  overflow: scroll;
}

.auction-thing-cards, .account-thing-cards {
  max-width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px 16px;
  margin-bottom: 30px;
}

.auction-thing-card {
  position: relative;
  grid-column: span 1;
  margin: auto;
}

.auction-thing-count, .auction-user-count {
  width: 100%;
  text-align: right;
}

.auction-action-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.auction-action-button {
  margin: 10px;
}

.reg-log-form {
    max-width: 1080px;
    margin: auto;
}

.account {
    max-width: 1080px;
    margin: auto;
}

.add-metric {
    margin: auto;
}

.account-lot {
    margin: 25px auto;
    max-width: 1080px;
}
